i3/.config/i3/adb_unlock.env
scripts/gitlab-watch/gitlab-watch.conf
scripts/gitlab-watch/watchlist.conf

# Generated PrusaSlicer cache files
prusaslicer/.config/PrusaSlicer/cache/
prusaslicer/.config/PrusaSlicer/*.lock
